sepl-maintenance-device-types .preview {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

sepl-maintenance-device-types md-grid-list {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 100px;
}

sepl-maintenance-device-types .image-wrapper{
    height: 100%;
}

sepl-maintenance-device-types md-grid-tile {
    background: whitesmoke;
}

sepl-maintenance-device-types md-grid-tile-footer {
    background: white!important;
    height: 68px!important;
    color: black!important;
}

sepl-maintenance-device-types md-grid-tile-footer figcaption {
    width: 100%;
}

sepl-maintenance-device-types md-grid-tile-footer .first-line {
    font-size: 16px;
}

sepl-maintenance-device-types md-grid-tile-footer .second-line {
    font-size: 14px;
}

sepl-maintenance-device-types md-grid-tile-footer .caption {
    padding-left: 16px;
}