<!doctype html>
<div class="cron-gen-main" ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom md-selected="$parent.cron_gen_tob_index">
        <md-content>
        <md-tab label="Minutes" ng-show="!$ctrl.parsedOptions.hideMinutesTab" ng-click="$ctrl.setActiveTab($event, 'minutes')">
            <md-content class="md-padding">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_EVERY' | translate}}
                <select class="minutes"
                        name="minutesMinutes"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'minutes'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.minutes.minutes"
                        ng-required="$ctrl.activeTab === 'minutes'"
                        ng-options="minute as minute for minute in $ctrl.selectOptions.minutes"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_MINUTE' | translate}}
                <span ng-show="!$ctrl.parsedOptions.hideSeconds">on second</span>
                <select class="seconds"
                        name="minutesSeconds"
                        ng-show="!$ctrl.parsedOptions.hideSeconds"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'minutes'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.minutes.seconds"
                        ng-required="$ctrl.activeTab === 'minutes'"
                        ng-options="second as $ctrl.cronGenService.padNumber(second) for second in $ctrl.selectOptions.seconds"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
            </md-content>
        </md-tab>
    
        <md-tab label="Hourly" ng-show="!$ctrl.parsedOptions.hideHourlyTab" ng-click="$ctrl.setActiveTab($event, 'hourly')">
            <md-content class="md-padding">
            <div>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_EVERY' | translate}}
                <select class="hours"
                        name="hourlyHours"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'hourly'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.hourly.hours"
                        ng-required="$ctrl.activeTab === 'hourly'"
                        ng-options="hour as hour for hour in $ctrl.selectOptions.hours"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_H_ON_MIN' | translate}}
                <select class="minutes"
                        name="hourlyMinutes"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'hourly'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.hourly.minutes"
                        ng-required="$ctrl.activeTab === 'hourly'"
                        ng-options="minute as $ctrl.cronGenService.padNumber(minute) for minute in $ctrl.selectOptions.fullMinutes"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                <span ng-show="!$ctrl.parsedOptions.hideSeconds">{{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_AND_SEC' | translate}}</span>
                <select class="seconds"
                        name="hourlySeconds"
                        ng-show="!$ctrl.parsedOptions.hideSeconds"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'hourly'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.hourly.seconds"
                        ng-required="$ctrl.activeTab === 'hourly'"
                        ng-options="second as $ctrl.cronGenService.padNumber(second) for second in $ctrl.selectOptions.seconds"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
            </div>
            </md-content>
        </md-tab>
    
        <md-tab label="Daily" ng-show="!$ctrl.parsedOptions.hideDailyTab" ng-click="$ctrl.setActiveTab($event, 'daily')">
            <md-content class="md-padding">
            <div class="md-padding">
                <input type="radio"
                       value="everyDays"
                       name="daily-radio"
                       ng-disabled="$ctrl.ngDisabled"
                       ng-change="$ctrl.regenerateCron()"
                       ng-model="$ctrl.state.daily.subTab"
                       ng-class="$ctrl.state.formRadioClass"
                       checked="checked">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_EVERY' | translate}}
                <select class="days"
                        name="dailyEveryDaysDays"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'daily' || $ctrl.state.daily.subTab !== 'everyDays'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.daily.everyDays.days"
                        ng-required="$ctrl.activeTab === 'daily' && $ctrl.state.daily.subTab === 'everyDays'"
                        ng-options="monthDay as monthDay for monthDay in $ctrl.selectOptions.monthDays"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_DAYS_AT' | translate}}
                <cron-gen-time-select
                        is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'daily' || $ctrl.state.daily.subTab !== 'everyDays'"
                        on-change="$ctrl.regenerateCron()"
                        name-prefix="dailyEveryDays"
                        is-required="$ctrl.activeTab === 'daily' && $ctrl.state.daily.subTab === 'everyDays'"
                        model="$ctrl.state.daily.everyDays"
                        select-class="$ctrl.parsedOptions.formSelectClass"
                        use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                        hide-seconds="$ctrl.parsedOptions.hideSeconds">
                </cron-gen-time-select>
            </div>
            <div class="md-padding">
                <input type="radio"
                       value="everyWeekDay"
                       ng-disabled="$ctrl.ngDisabled"
                       ng-change="$ctrl.regenerateCron()"
                       ng-model="$ctrl.state.daily.subTab"
                       ng-class="$ctrl.state.formRadioClass"
                       name="daily-radio">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_MON_TO_FRI' | translate}}
                <cron-gen-time-select
                        is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'daily' || $ctrl.state.daily.subTab !== 'everyWeekDay'"
                        on-change="$ctrl.regenerateCron()"
                        name-prefix="dailyEveryWeekDay"
                        is-required="$ctrl.activeTab === 'daily' && $ctrl.state.daily.subTab === 'everyWeekDay'"
                        model="$ctrl.state.daily.everyWeekDay"
                        select-class="$ctrl.parsedOptions.formSelectClass"
                        use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                        hide-seconds="$ctrl.parsedOptions.hideSeconds">
                </cron-gen-time-select>
            </div>
            </md-content>
        </md-tab>
    
        <md-tab label="Weekly" ng-show="!$ctrl.parsedOptions.hideWeeklyTab" ng-click="$ctrl.setActiveTab($event, 'weekly')">
            <md-content class="md-padding">
            <div>
                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.MON">
                    {{'TIME.CRON.WEEK.MONDAY' | translate}}
                </md-checkbox>

                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.TUE"
                              ng-class="$ctrl.parsedOptions.formCheckboxClass">
                    {{'TIME.CRON.WEEK.TUESDAY' | translate}}
                </md-checkbox>

                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.WED"
                              ng-class="$ctrl.parsedOptions.formCheckboxClass">
                    {{'TIME.CRON.WEEK.WEDNESDAY' | translate}}
                </md-checkbox>

                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.THU"
                              ng-class="$ctrl.parsedOptions.formCheckboxClass">
                    {{'TIME.CRON.WEEK.THURSDAY' | translate}}
                </md-checkbox>

                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.FRI"
                              ng-class="$ctrl.parsedOptions.formCheckboxClass">
                    {{'TIME.CRON.WEEK.FRIDAY' | translate}}
                </md-checkbox>

                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.SAT"
                              ng-class="$ctrl.parsedOptions.formCheckboxClass">
                    {{'TIME.CRON.WEEK.SATURDAY' | translate}}
                </md-checkbox>

                <md-checkbox  ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                              ng-change="$ctrl.regenerateCron()"
                              ng-model="$ctrl.state.weekly.SUN"
                              ng-class="$ctrl.parsedOptions.formCheckboxClass">
                    {{'TIME.CRON.WEEK.SUNDAY' | translate}}
                </md-checkbox>
            </div>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_START_TIME' | translate}}
            <cron-gen-time-select
                    is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'weekly'"
                    on-change="$ctrl.regenerateCron()"
                    name-prefix="weekly"
                    is-required="$ctrl.activeTab === 'weekly'"
                    model="$ctrl.state.weekly"
                    select-class="$ctrl.parsedOptions.formSelectClass"
                    use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                    hide-seconds="$ctrl.parsedOptions.hideSeconds">
            </cron-gen-time-select>
            </md-content>
        </md-tab>
    
        <md-tab label="Monthly" ng-show="!$ctrl.parsedOptions.hideMonthlyTab" ng-click="$ctrl.setActiveTab($event, 'monthly')">
            <md-content class="md-padding">
            <div class="md-padding">
                <input type="radio"
                       value="specificDay"
                       ng-disabled="$ctrl.ngDisabled"
                       ng-change="$ctrl.regenerateCron()"
                       ng-model="$ctrl.state.monthly.subTab"
                       ng-class="$ctrl.state.formRadioClass"
                       name="monthly-radio"
                       checked="checked">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_ON_THE' | translate}}
                <select class="month-days"
                        name="monthlySpecificDayDay"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.monthly.specificDay.day"
                        ng-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificDay'"
                        ng-options="monthDaysWithLast as $ctrl.monthDayDisplay(monthDaysWithLast) for monthDaysWithLast in $ctrl.selectOptions.monthDaysWithLasts"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_OF_EVERY' | translate}}
                <select class="months-small"
                        name="monthlySpecificDayMonths"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.monthly.specificDay.months"
                        ng-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificDay'"
                        ng-options="month as month for month in $ctrl.selectOptions.months"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_MONTHS_AT' | translate}}
                <cron-gen-time-select
                        is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificDay'"
                        on-change="$ctrl.regenerateCron()"
                        name-prefix="monthlySpecificDay"
                        is-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificDay'"
                        model="$ctrl.state.monthly.specificDay"
                        select-class="$ctrl.parsedOptions.formSelectClass"
                        use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                        hide-seconds="$ctrl.parsedOptions.hideSeconds">
                </cron-gen-time-select>
            </div>
            <div class="md-padding">
                <input type="radio"
                       value="specificWeekDay"
                       ng-disabled="$ctrl.ngDisabled"
                       ng-change="$ctrl.regenerateCron()"
                       ng-model="$ctrl.state.monthly.subTab"
                       ng-class="$ctrl.state.formRadioClass"
                       name="monthly-radio">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_ON_THE' | translate}}
                <select class="day-order-in-month"
                        name="monthlySpecificWeekDayMonthWeek"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificWeekDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.monthly.specificWeekDay.monthWeek"
                        ng-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificWeekDay'"
                        ng-options="monthWeek as $ctrl.monthWeekDisplay(monthWeek) for monthWeek in $ctrl.selectOptions.monthWeeks"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                <select class="week-days"
                        name="monthlySpecificWeekDayDay"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificWeekDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.monthly.specificWeekDay.day"
                        ng-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificWeekDay'"
                        ng-options="day as $ctrl.dayDisplay(day) for day in $ctrl.selectOptions.days"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_OF_EVERY' | translate}}
                <select class="months-small"
                        name="monthlySpecificWeekDayMonths"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificWeekDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.monthly.specificWeekDay.months"
                        ng-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificWeekDay'"
                        ng-options="month as month for month in $ctrl.selectOptions.months"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_MONTHS_AT' | translate}}
                <cron-gen-time-select
                        is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'monthly' || $ctrl.state.monthly.subTab !== 'specificWeekDay'"
                        on-change="$ctrl.regenerateCron()"
                        name-prefix="monthlySpecificWeekDay"
                        is-required="$ctrl.activeTab === 'monthly' && $ctrl.state.monthly.subTab === 'specificWeekDay'"
                        model="$ctrl.state.monthly.specificWeekDay"
                        select-class="$ctrl.parsedOptions.formSelectClass"
                        use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                        hide-seconds="$ctrl.parsedOptions.hideSeconds">
                </cron-gen-time-select>
            </div>
            </md-content>
        </md-tab>
    
        <md-tab label="Yearly" ng-show="!$ctrl.parsedOptions.hideYearlyTab" ng-click="$ctrl.setActiveTab($event, 'yearly')">
            <md-content class="md-padding">
            <div class="md-padding">
                <input type="radio"
                       value="specificMonthDay"
                       ng-disabled="$ctrl.ngDisabled"
                       ng-change="$ctrl.regenerateCron()"
                       ng-model="$ctrl.state.yearly.subTab"
                       ng-class="$ctrl.state.formRadioClass"
                       name="yearly-radio">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_EVERY' | translate}}
                <select class="months"
                        name="yearlySpecificMonthDayMonth"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.yearly.specificMonthDay.month"
                        ng-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthDay'"
                        ng-options="month as $ctrl.monthDisplay(month) for month in $ctrl.selectOptions.months"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_ON_THE_L' | translate}}
                <select class="month-days"
                        name="yearlySpecificMonthDayDay"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthDay'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.yearly.specificMonthDay.day"
                        ng-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthDay'"
                        ng-options="monthDaysWithLast as $ctrl.monthDayDisplay(monthDaysWithLast) for monthDaysWithLast in $ctrl.selectOptions.monthDaysWithLasts"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_AT' | translate}}
                <cron-gen-time-select
                        is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthDay'"
                        on-change="$ctrl.regenerateCron()"
                        is-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthDay'"
                        name-prefix="yearlySpecificMonthDay"
                        model="$ctrl.state.yearly.specificMonthDay"
                        select-class="$ctrl.parsedOptions.formSelectClass"
                        use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                        hide-seconds="$ctrl.parsedOptions.hideSeconds">
                </cron-gen-time-select>
            </div>
            <div class="md-padding">
                <input type="radio"
                       value="specificMonthWeek"
                       ng-disabled="$ctrl.ngDisabled"
                       ng-change="$ctrl.regenerateCron()"
                       ng-model="$ctrl.state.yearly.subTab"
                       ng-class="$ctrl.state.formRadioClass"
                       name="yearly-radio">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_ON_THE' | translate}}
                <select class="day-order-in-month"
                        name="yearlySpecificMonthWeekMonthWeek"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthWeek'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.yearly.specificMonthWeek.monthWeek"
                        ng-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthWeek'"
                        ng-options="monthWeek as $ctrl.monthWeekDisplay(monthWeek) for monthWeek in $ctrl.selectOptions.monthWeeks"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                <select class="week-days"
                        name="yearlySpecificMonthWeekMonthDay"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthWeek'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.yearly.specificMonthWeek.day"
                        ng-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthWeek'"
                        ng-options="day as $ctrl.dayDisplay(day) for day in $ctrl.selectOptions.days"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_OF' | translate}}
                <select class="months"
                        name="yearlySpecificMonthWeekMontMonth"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthWeek'"
                        ng-change="$ctrl.regenerateCron()"
                        ng-model="$ctrl.state.yearly.specificMonthWeek.month"
                        ng-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthWeek'"
                        ng-options="month as $ctrl.monthDisplay(month) for month in $ctrl.selectOptions.months"
                        ng-class="$ctrl.parsedOptions.formSelectClass">
                </select>
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_AT' | translate}}
                <cron-gen-time-select
                        is-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'yearly' || $ctrl.state.yearly.subTab !== 'specificMonthWeek'"
                        on-change="$ctrl.regenerateCron()"
                        name-prefix="yearlySpecificMonthWeek"
                        is-required="$ctrl.activeTab === 'yearly' && $ctrl.state.yearly.subTab === 'specificMonthWeek'"
                        model="$ctrl.state.yearly.specificMonthWeek"
                        select-class="$ctrl.parsedOptions.formSelectClass"
                        use-24-hour-time="$ctrl.parsedOptions.use24HourTime"
                        hide-seconds="$ctrl.parsedOptions.hideSeconds">
                </cron-gen-time-select>
            </div>
            </md-content>
        </md-tab>
    
        <md-tab label="Advanced" ng-show="!$ctrl.parsedOptions.hideAdvancedTab" ng-click="$ctrl.setActiveTab($event, 'advanced')">
            <md-content class="md-padding">
                {{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_CRON_EXPR' | translate}}
            <input type="text"
                   class="advanced-cron-gen-input"
                   name="advancedExpression"
                   ng-disabled="$ctrl.ngDisabled || $ctrl.activeTab !== 'advanced'"
                   ng-change="$ctrl.regenerateCron()"
                   ng-model="$ctrl.state.advanced.expression"
                   ng-required="$ctrl.activeTab === 'advanced'"
                   ng-class="$ctrl.parsedOptions.formInputClass">

            <p>{{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_MORE_DETAILS' | translate}}<a
                    href="http://www.quartz-scheduler.org/documentation/quartz-2.x/tutorials/crontrigger.html"
                    target="_blank">{{'TIME.CRON.MD_TAB_CONTENT_TAB_CONTENT_HERE' | translate}}</a>.</p>
            </md-content>
        </md-tab>
        </md-content>
    </md-tabs>
</div>
