.canvas {
    position: relative;
}

#js-properties-panel {
    position: relative;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.bpmn-iot-button {
    position: static !important;
    width: 150px !important;
}

.script-editor{
    width: 1000px !important;
}