<md-dialog aria-label="IoT-Device" class="iot-wizard-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'DESIGNER.IOT_SCRIPT.HEADLINE_TOOLBAR_TOOLS' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content">
            <md-input-container class="md-block">
                <textarea ng-model="script" class="script-editor" md-select-on-focus></textarea>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ok()">
                {{'DESIGNER.MD_BUTTON_OK' | translate}}
            </md-button>
            <md-button ng-click="cancel()">
                {{'DESIGNER.MD_BUTTON_CANCEL' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>