<md-content layout-margin>
    <div layout="column" class="time-table">
        <table>
            <thead>
            <tr>
                <th class="caption"></th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.MONDAY' | translate }}</th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.TUESDAY' | translate }}</th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.WEDNESDAY' | translate }}</th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.THURSDAY' | translate }}</th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.FRIDAY' | translate }}</th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.SATURDAY' | translate }}</th>
                <th>{{ 'DASHBOARD.SCHEDULE.DAYS.SUNDAY' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="n in [] | range:24">
                <td class="caption">{{n-1}}</td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 1, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,1)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 1, $event)" layout-fill></div>
                    </div>
                </td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 2, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,2)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 2, $event)" layout-fill></div>
                    </div>
                </td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 3, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,3)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 3, $event)" layout-fill></div>
                    </div>
                </td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 4, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,4)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 4, $event)" layout-fill></div>
                    </div>
                </td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 5, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,5)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 5, $event)" layout-fill></div>
                    </div>
                </td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 6, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,6)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 6, $event)" layout-fill></div>
                    </div>
                </td>
                <td class="cell">
                    <div class="wrapper" layout-fill>
                        <div class="entry" ng-click="$ctrl.showScheduleDialog(n-1, 7, $event, entry)"
                             ng-repeat="entry in $ctrl.entries | orderBy : 'startTime'"
                             ng-if="$ctrl.hasEntry(entry,n-1,7)"
                             flex>
                            {{entry.name}} - {{entry.startTime}}
                        </div>
                        <div class="background" ng-click="$ctrl.showScheduleDialog(n-1, 7, $event)" layout-fill></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</md-content>
<md-button class="md-fab md-fab-bottom-right" style="position: fixed !important;" ng-click="$ctrl.showScheduleDialog(0, 1, $event)">
    <md-tooltip>{{ "DASHBOARD.SCHEDULE.MD_BUTTON_TOOLTIP_NEW_APPOINTMENT" | translate }}</md-tooltip>
    <md-icon>add</md-icon>
</md-button>
