sepl-data-export md-grid-list {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 100px;
}

sepl-data-export .image-wrapper{
    height: 100%;
}

sepl-data-export md-grid-tile {
    background: white;
}

sepl-data-export md-grid-tile h3 {
    margin-left:16px;
}

sepl-data-export md-list-item {
    min-height: 36px;
}


sepl-data-export md-list-item::before {
    min-height: 24px;
}


sepl-data-export md-grid-tile md-content {
    padding-top: 12px;
    padding-left: 16px;
}

sepl-data-export md-grid-tile-footer {
    background: white!important;
    height: 68px!important;
    color: black!important;
}

sepl-data-export md-grid-tile-footer figcaption {
    width: 100%;
}

sepl-data-export md-grid-tile-footer .first-line {
    font-size: 16px;
}

sepl-data-export md-grid-tile-footer .second-line {
    font-size: 14px;
}

sepl-data-export md-grid-tile-footer .caption {
    padding-left: 16px;
}