<sepl-searchbar search-text="$ctrl.searchText" on-input-change="$ctrl.searchText = searchText;"></sepl-searchbar>
<sepl-sort attributes="$ctrl.sortAttributes" on-click-event="$ctrl.sortItem = sortItem"
           current-sort-item="$ctrl.sortItem" flex="100"></sepl-sort>
<div layout-margin>
    <div ng-if="!$ctrl.deviceTypes.length && $ctrl.requestComplete">
        {{'DEVICE_TYPES.NO_ELEMENT_TEXT' | translate}}
    </div>
</div>
<div infinite-scroll="$ctrl.next()" infinite-scroll-distance='1' infinite-scroll-container="'#content'"
     infinite-scroll-disabled="$ctrl.scrollDisabled">
    <div layout="column" flex>
        <md-grid-list
                md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-lg="3" md-cols-xl="6" md-row-height="250px"
                md-gutter="16px">
            <md-grid-tile
                    ng-repeat="devicetype in $ctrl.deviceTypes"
                    md-whiteframe="1"
                    ng-cloak>
                <div class="preview" layout-align="center start">
                    <div class="image-wrapper">
                        <img class="device-type-icon" ng-if="devicetype.img" ng-src="{{ devicetype.img }}"/>
                    </div>
                </div>
                <md-grid-tile-footer>
                    <div layout="row" class="caption">
                        <div layout="row" flex="80" layout-align="left center">
                            <div layout="column">
                                <span class="md-truncate first-line">{{devicetype.name || "DEVICE_TYPES.LIST.MD_GRID_LIST_TILE_FOOTER_TRUNCATE_FIRST_LINE" | translate}}
                                    <md-tooltip>{{devicetype.name || "DEVICE_TYPES.LIST.MD_GRID_LIST_TILE_FOOTER_TOOLTIP_LABEL_UNKNOWN_NAME" | translate}}</md-tooltip>
                                </span>
                            </div>
                        </div>
                        <div layout="row" layout-align="end center" flex="20">
                            <md-menu md-offset="-10 40">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ui-sref="iotrepository.wizard.update({ id: devicetype.id })">
                                            <md-icon>edit</md-icon>
                                            {{"DEVICE_TYPES.LIST.MD_GRID_LIST_TILE_FOOTER_MENU_CONTENT_ITEM_BUTTON_LABEL_EDIT" | translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ui-sref="iotrepository.wizard.clone({ cloneid: devicetype.id })">
                                            <md-icon>content_copy</md-icon>
                                            {{"DEVICE_TYPES.LIST.MD_GRID_LIST_TILE_FOOTER_MENU_CONTENT_ITEM_BUTTON_LABEL_CLONE" | translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="$ctrl.showEditDialog({ deviceTypeId: devicetype.id, id: null }, $event)">
                                            <md-icon>add_box</md-icon>
                                            {{"DEVICE_TYPES.LIST.MD_GRID_LIST_TILE_FOOTER_MENU_CONTENT_ITEM_BUTTON_LABEL_NEW_INSTANCE" | translate}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="$ctrl.showDetail(devicetype)" aria-label="toggle">
                                            <md-icon>info</md-icon>
                                            {{"DEVICE_TYPES.LIST.MD_GRID_LIST_TILE_FOOTER_MENU_CONTENT_ITEM_BUTTON_LABEL_DETAILS" | translate}}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
<md-progress-circular ng-class="{'md-progress-circular-next' : !$ctrl.initialLoading}"
                      md-mode="indeterminate" ng-show="!$ctrl.requestComplete" class="md-hue-2"
                      md-diameter="50"></md-progress-circular>
<md-button ui-sref="iotrepository.wizard" class="md-fab md-fab-bottom-right" style="position: fixed !important;">
    <md-icon>add</md-icon>
    <md-tooltip md-direction="top">{{"DEVICE_TYPES.LIST.MD_BUTTON_LABEL_CREATE_NEW_DEVICE_TYPE" | translate}}</md-tooltip>
</md-button>
