<h2>Protocol</h2>

<md-input-container ng-if="$ctrl.protocol.id" class="md-block" flex-gt-xs>
    <label>{{'PROTOCOL.EDIT.MD_INPUT_CONTAINER_LABEL_ID' | translate}}</label>
    <input ng-model="$ctrl.protocol.id" disabled>
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>{{'PROTOCOL.EDIT.MD_INPUT_CONTAINER_LABEL_NAME' | translate}}</label>
    <input ng-model="$ctrl.protocol.name">
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>{{'PROTOCOL.EDIT.MD_INPUT_CONTAINER_LABEL_DESCRIPTION' | translate}}</label>
    <input ng-model="$ctrl.protocol.description">
</md-input-container>

<md-input-container class="md-block" flex-gt-xs>
    <label>{{'PROTOCOL.EDIT.MD_INPUT_CONTAINER_LABEL_URL' | translate}}</label>
    <input ng-model="$ctrl.protocol.protocol_handler_url">
</md-input-container>

<md-chips
        name="MsgSegment"
        ng-model="$ctrl.protocol.msg_structure"
        readonly="false"
        md-removable="true"
        placeholder="{{'PROTOCOL.EDIT.MD_CHIPS_LABEL_PLACEHOLDER' | translate}}"
        delete-button-label="{{'PROTOCOL.EDIT.MD_CHIPS_DELETE_BUTTON_LABEL' | translate}}"
        delete-hint="{{'PROTOCOL.EDIT.MD_CHIPS_DELETE_HINT' | translate}}"
        secondary-placeholder="+MsgSegment"
        md-transform-chip="$ctrl.createMsgSegment($chip)"
>
    <button class="md-chip-remove" md-chip-remove>
        <md-icon>cancel</md-icon>
    </button>
    <md-chip-template>
        <span>{{$chip.name}}</span>
    </md-chip-template>
</md-chips>

<md-button class="md-primary md-raised" ng-click="$ctrl.saveProtocol()">{{'PROTOCOL.EDIT.MD_BUTTON_LABEL_SAVE' | translate}}</md-button>
